*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.logo-img{
    height: 45px;
    padding-left: 20px;
}
.navbar-toggler{
    outline: none;
    color: rgb(92, 78, 78);
}
.fa-bars{
    color: rgb(6, 153, 116) !important;
    
}
.navbar-nav li{
    padding:0 10px;
}
.navbar-nav li a{
    color: rgb(204, 189, 189) !important;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    float: right;
    transition: 0.5s ease all;
}
.navbar-nav li a:hover{
    color: orange !important;
}

/*------------banner-----------*/
#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding-top: 5%;
}

.ads{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}


.promo-title{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 100px;
}
#banner a{
    text-decoration: none;
    color: rgb(17, 97, 163);
}
.play-btn{
    width: 40px;
    margin: 10px;
}
.wave1{
    width: 100%;
}


/*-----------servise--------------*/

.servise{
    padding: 0 20px;
    margin-top: 30px;
}
.title::before{
    content: '';
    
}


#footer{
    margin-top: 10em;
    background: #333;
    height: 7em;
    text-align: center;

}
#footer p{
    padding-top: 50px;
}